#inicio {
    display: flex;
    align-items: center;
}
#dis {
    margin-left: 800px;
}
#claimer {
    margin-left: 20px;
}
#placeholder {
    margin-left: 55px;
    height: 500px;
    width: 400px;
}
#tudo {
    display: flex;
    align-items: flex-start;
}
#info {
    margin-left: 50px;
    border: 1px solid rgb(226, 227, 229);
    height: auto;
    width: 450px;
} 
#ds {
    margin-left: 50px;
    border: 1px solid rgb(226, 227, 229);
    height: auto;
    width: 550px;
}
.butao {
    width: 40px;
    height: 35px;
    background: transparent;
    border: transparent;
    cursor: pointer;
    transition: 0.1s;
}
.butao:hover {
    transform: scale(1.12);
}
